@model BangazonSite.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        @if (Model.ProductImage != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ProductImage)
            </dt>
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.ProductImage);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img class="userImg" src="@imgSrc" />
            </dd>
        }
        <td>
            <form>
                <button class="btn btn-info" asp-action="AddToCart" asp-route-id="@Model.Id">Add to Cart</button>
            </form>
        </td>













        <dt>
            @Html.DisplayNameFor(model => model.LocalDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
